body{
    
    font-family: Calibri;
    padding: 10px 20px;
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}

.padre{
	display: flex;
}

.columna{
	color: #111;
	width: 25%;
	background-color: #ff9633;
	padding: 10px;
	border-radius: 15px;
	margin: 10px;
	text-align: center;
}